@model Banking.Emprestimo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataEmprestimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataEmprestimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formaPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formaPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoTaxa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoTaxa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
