@model Banking.ContaCorrente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContaCorrente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroAgencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroAgencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limite)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
